.grid_background {
  background-color: lightgrey;
}

.grid_header {
  background-color: floralwhite;
  font-size: 20px;
}

.cell {
  margin: 5px;
  padding: 0;
  border-radius: 25px;
  min-height: 0px;
  min-width: 0px;
}

.cell_empty {
  border: 20px solid beige;
}

.cell_full {
  border: 20px solid aqua;
}

.cell_highlighted {
  border: 20px solid teal;
}

.empty {
  background-color: floralwhite;
}
